
<ion-header class="header">
  <ion-toolbar color="primary">

    <ion-buttons>
      <ion-title medium>&nbsp; &nbsp; Faults</ion-title>
    </ion-buttons>


  </ion-toolbar>
</ion-header>

<ion-content class="list-avatar-page">
<ion-select color="danger" [(ngModel)]="ftype" (ionChange)="loadData()">
  <ion-option value="CBD" selected>CBD</ion-option>
  <ion-option value="dangamvura">Dangamvura</ion-option>
</ion-select>

  <ion-list>

    <ion-list-header>Recent</ion-list-header>
      <ion-item *ngFor="let fault of faults | async" (click)="presentAction(fault)">
      <ion-avatar item-start >
        <img *ngIf="fault.image"   src="{{fault.image}}">
        <img  *ngIf="!fault.image"  src="./assets/img/speakers/profpic.png">
      </ion-avatar>
      <h2>{{fault.title}}</h2>

        <p padding-top>Location: {{fault.location}}</p>
      <p>From:  {{fault.member}}</p>

      <ion-note item-end>{{fault.date | amTimeAgo:'en'}} ago</ion-note>
        <ion-note color="color-green" item-end>{{fault.status}}</ion-note>
    </ion-item>



  </ion-list>
<ion-fab bottom end (click)="addFault()">
  <button ion-fab><ion-icon name="add"></ion-icon></button>
</ion-fab>


</ion-content>
