page-profile {

  .about-header {
    padding: 16px;
    width: 100%;
    text-align: center;
    background-color: grey;
  }

  .about-header img {
    display: block;
    border-radius: 50%;
    width: auto;
    height: 100px;
    margin: 0 auto 0;
    box-shadow: 0px 11px 20px -3px rgba(142, 136, 146, 0.75);

  }

  .about-info p {
    color: var(--ion-color-medium);
    text-align: left;
  }

  .about-info ion-icon {
    color: var(--ion-color-primary);
  }

  .ios .about-info {
    text-align: center;
  }


}
