<ion-header>

  <ion-navbar color="primary">
    <ion-title>Conversations</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-card>
    <h2 text-center> {{item.title}}</h2>
    <p padding-left>Location: {{item.location}}  </p>
    <p padding-left>From:  {{item.member}} </p>
    <p padding>{{item.message}} </p>
  </ion-card>
  <ion-card>

  </ion-card>
      <img margin="" src="item.dp" class="box">
  <ion-card margin="" class="adv-map">
    <agm-map
            [latitude]="item.lat"
            [longitude]="item.lon"
            [zoom]="zoom"
            [disableDefaultUI]="false"
            [zoomControl]="true">

      <agm-marker

              [latitude]="item.lat"
              [longitude]="item.lon"
      >



      </agm-marker>



    </agm-map>
    <ion-item actions>


     <button  ion-button color="primary" clear item-end icon-start >
       <ion-icon name='navigate'></ion-icon>
       <a href="{{nav}}" target="_blank"  >
         Navigate</a>
   </button>
    </ion-item>

  </ion-card>
  <div class="message-wrap">

    <div *ngFor="let msg of reply |async"
         class="message"
         [class.left]=" msg.uid === uid"
         [class.right]=" msg.uid != uid">

      <img *ngIf="msg.image" class="user-img"   src="{{msg.image}}">
      <img  *ngIf="!msg.image" class="user-img" src="./assets/img/speakers/profpic.png">

      <div class="msg-detail">
        <div class="msg-info">
          <p>
            {{msg.time |amTimeAgo:'en' }}</p>
          <p>By:  Admin</p>




        </div>
        <div class="msg-content">
          <span class="triangle"></span>
          <p class="line-breaker ">{{msg.replied}}</p>

        </div>
      </div>
    </div>

  </div>


</ion-content>

<ion-footer no-border [style.height]="showEmojiPicker ? '255px' : '55px'">
  <ion-input type="hidden"[(ngModel)]="model.member" value="{{username}}"></ion-input>
  <ion-input type="hidden"[(ngModel)]="model.time" value="{{dtt}}"></ion-input>
  <ion-input type="hidden"[(ngModel)]="model.image" value="{{dp}}"></ion-input>

  <ion-input type="hidden"[(ngModel)]="model.id" value="{{pid}}"></ion-input>
  <ion-input type="hidden"[(ngModel)]="model.uid" value="{{userinfo.uid}}"></ion-input>

  <div class="input-wrap">


    <ion-textarea #chat_input
              placeholder="Reply"
              [(ngModel)]="model.replied"
              (keyup.enter)="addocument(model)"
              (focusin)="onFocus()">
    </ion-textarea>


    <button ion-button clear icon-only item-right (click)="addocument(model)" >
      <ion-icon name="ios-send" ios="ios-send" md="md-send"></ion-icon>
    </button>
  </div>
</ion-footer>
